build/bin
node_modules
frontend/dist

# External tools - keep folder structure but ignore executables
tools/**/*.exe
tools/**/*.dll
tools/**/*.so
tools/**/*.dylib
tools/**/*.cfg
tools/**/*.txt
tools/**/*.chm
